.tableMain{
    background-color: rgba(0, 0, 0, 0.452);
    border-radius: 10px;
    max-height: 1000px;
    overflow: auto;
}
body{
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
